[Unit]
Description=Camera360 startup script
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/camera360pi
#User=pi
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=camera360
Restart=always
RestartSec=60


[Install]
WantedBy=multi-user.target