[Unit]
Description=Camera360 startup script
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
#Environment="ONE=--logLevel=DEBUG 2>&1 | tee /dev/tty1"
#ExecStart=/usr/local/bin/camera360pi ${ONE}
ExecStart=/bin/bash -c '/usr/local/bin/camera360pi --logLevel=DEBUG 2>&1 | tee /dev/tty1'
#User=pi
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=camera360
Restart=always
RestartSec=60


[Install]
WantedBy=multi-user.target